.content-wrapper {
  display: grid;
  justify-content: flex-start;
  width: var(--container-width);
  max-width: var(--max-container-width);

  gap: 2rem;
  margin-right: auto;
  margin-left: auto;
  justify-content: flex-start;
  grid-auto-columns: 1fr;

  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  padding-top: var(--primary-padding);
}
