.expanding-menu-wrap {
  margin: 0;
  /* position: fixed; */
  position: absolute;
  top: calc(var(--primary-padding) * 1.7);

  right: 0;
  z-index: 100;

  height: auto;
  max-height: 500px;
  width: var(--container-width);
  max-width: 500px;
  /* width: 100vw; */
  /* height: 100vh; */
  background: var(--main-bg-color-accent-lighter);
  box-shadow: var(--primary-box-shadow);
  border-radius: var(--primary-border-radius);
  display: grid;
  flex-direction: column;
  align-items: top;
  grid-auto-flow: row;
  padding: var(--primary-padding);
  overflow: auto;
}

.expanding-menu-children-wrap {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(
    auto-fill,
    minmax(var(--primary-padding-less), auto)
  );
  gap: var(--primary-grid-gap);
  align-items: center;
  justify-items: end;
}

.expanding-menu-wrap * {
  margin: 0;
}
