.login-screen-wrap {
  height: calc(100vh - (var(--primary-padding) * 2));
  align-items: center;
  display: flex;
}
.login-screen-card {
  width: var(--container-width);
  max-width: calc(var(--max-container-width) / 3);
  min-height: calc(var(--primary-padding) * 5);
  display: grid;
  grid-template-rows: 1fr;
  gap: var(--primary-grid-gap);
  justify-content: center;
  padding: var(--primary-padding);
  background-color: var(--main-bg-color-accent);
  border-radius: var(--primary-border-radius);
  place-items: center;
}
