.main-button {
  background-color: var(--primary-accent-color);
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: var(--primary-text-color);
  font-weight: bold;
  border-radius: var(--primary-border-radius);
}

.dark {
  background-color: var(--main-bg-color-accent);
}
