.main-button {
  background-color: var(--primary-accent-color);
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: var(--primary-text-size);
  font-weight: bold;
  border-radius: var(--primary-border-radius);
  cursor: pointer;
  text-decoration: none;
  margin: 0;
}
.accent {
  background-color: var(--primary-accent-color);
}

.dark {
  background-color: var(--main-bg-color-accent-lighter);
}

.dark {
  background-color: var(--main-bg-color-accent-lighter);
}

.sml {
  font-size: var(--primary-text-size-small);
  font-weight: 200;
  max-height: 1.8rem;
}

.with-icon {
  display: flex;
  align-items: center;
  padding: var(--primary-padding-less);
  box-shadow: var(--primary-box-shadow);
}
