.messages-wrap {
  position: fixed;
  width: calc(700px - (100vw - var(--container-width)));
  max-width: var(--container-width);
  align-items: top;
  right: var(--primary-padding);
  top: var(--primary-padding);
  border-radius: var(--primary-border-radius);
  align-items: flex-start;
  display: grid;
  gap: var(--primary-grid-gap);
  align-content: start;
  overflow: auto;
  max-height: calc(100% - (var(--primary-padding) * 2));
  z-index: 10;
}

.message {
  position: relative;
  padding: var(--primary-padding);
  width: 100%;
  border-radius: var(--primary-border-radius);
  background: var(--main-bg-color-accent-lighter);
  box-shadow: var(--primary-box-shadow);
  align-items: flex-start;
}

.message p {
  max-width: 35ch;
}

@media only screen and (max-width: 500px) {
  .messages-wrap {
    max-width: var(--container-width);
    right: 0%;
    left: 0%;
    margin: auto;
  }
  .message p {
    max-width: 30ch;
  }
}
