.navbar {
  width: var(--container-width);
  max-width: var(--max-container-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: calc(var(--primary-padding) * 2);
  align-items: center;
}
