.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: calc(var(--primary-padding) * 2);
  align-items: center;
}

.nav-links-wrap {
  display: grid;
  grid-auto-flow: column;
  align-self: center;
  gap: var(--primary-grid-gap);
  margin: 0;
}
