.nominated-user-card {
  background-color: var(--main-bg-color-accent-lighter);
  padding: var(--primary-padding);
  border-radius: var(--primary-border-radius);
  display: grid;
  grid-template-columns: 1fr 15fr 1fr;
  gap: var(--primary-grid-gap);

  justify-content: left;
  align-items: flex-start;
  margin-bottom: 1rem;
  align-items: center;
}

.nomination-headers-wrap {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.user-title {
  margin: 0;
  font-size: var(--primary-text-size);
  font-weight: 300;
}

.inactive {
  background-color: var(--main-bg-color-accent);
}
