select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: var(--main-bg-color-accent-lighter);
  background-image: none;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 100%;
  height: 3em;
  line-height: 3;
  background: var(--main-bg-color-accent-lighter);
  overflow: hidden;
  border-radius: var(--primary-border-radius);
}
select {
  flex: 1;
  padding: var(--primary-padding-less) var(--primary-padding)
    var(--primary-padding-less) var(--primary-padding);
  color: var(--primary-text-color);
  cursor: pointer;
}

.select-icon {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: auto;
  right: var(--primary-padding);
  pointer-events: none;
}
.select:hover::after {
  color: var(--primary-text-color);
}
