.search-result-wrapper {
  vertical-align: top;
  align-items: left;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.result {
  padding: var(--primary-padding);
}
.hidden {
  display: none;
}

.show {
  display: inherit;
}
