.user-selection-confirmation {
  width: 100%;
  padding: var(--primary-padding);
  background-color: var(--main-bg-color-accent);
  border-radius: var(--primary-border-radius);
}
.show {
  display: inherit;
}
.hidden {
  display: none;
}
