@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap");

:root {
  --main-bg-color: #0d0e14;
  --main-bg-color-accent: #171921;
  --main-bg-color-accent-lighter: #2a2e3b;
  --primary-accent-color: #fc4e4c;
  --primary-text-color: #ffebd4;

  --primary-text-size: 0.8rem;
  --primary-border-radius: 0.5em;

  --max-container-width: 1400px;
  --container-width: 90vw;
  --primary-padding: 2rem;
}
* {
  margin: auto;
  color: var(--primary-text-color);
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-size: 1rem;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

input {
  background-color: var(--main-bg-color-accent);
  border: solid 0.5px var(--main-bg-color-accent-lighter);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
