@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap");

:root {
  --main-bg-color: #0d0e14;
  --main-bg-color-accent: #171921;
  --main-bg-color-accent-lighter: #2a2e3b;
  --primary-accent-color: #fc4e4c;
  --primary-text-color: #ffebd4;
  --muted-text-color: #81776c;

  --opaque-shadow: rgba(0, 0, 0, 0.315);
  --primary-box-shadow: 5px 5px 20px var(--opaque-shadow);
  --primary-box-shadow-focus: 2px 2px 5px var(--opaque-shadow);

  --primary-text-size-small: 0.6rem;
  --primary-text-size: 0.8rem;
  --primary-border-radius: 0.5em;

  --max-container-width: 1100px;
  --container-width: 90vw;
  --primary-padding: 2rem;
  --primary-padding-less: 1rem;
  --primary-grid-gap: 1rem;
  --primary-margin: 1rem;

  --primary-icon-height: 1rem;
  --primary-icon-width: 1rem;

  --default-transition: 100ms ease-in-out;
}
* {
  margin: auto;
  color: var(--primary-text-color);
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-size: 1rem;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

input {
  background-color: var(--main-bg-color-accent);
  border: solid 0.5px var(--main-bg-color-accent-lighter);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-left: 0;
  margin-right: 0;
}

ul {
  list-style-type: none;
}
